################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XUnitTestProject/obj
/XUnitTestProject/bin/Debug/netcoreapp2.0
/.vs/XUnitTestProject/v15/Server/sqlite3
/.vs/slnx.sqlite
